@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

/* Floating Hearts Animation */
.heart {
  position: absolute;
  bottom: -20px;
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: red;
  opacity: 0.7;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) scale(1.5);
    opacity: 0;
  }
}